### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Step 2
### Importing orders_products_merged_updated Dataframe

In [2]:
# Creating path
path = r'C:\Users\terry\Documents\Data Analytics Course\Achievement 4\23-11-2024 Instacart Basket Analysis'

In [5]:
# importing data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

### Creating orders_products_merged_updated Dataframe subset 'df_sub'

In [9]:
df_sub = ords_prods_merge[:1000000]

In [11]:
# Aggregating mean of df_sub 'number_of_order' column grouped by 'department_id'
df_sub.groupby(['department_id']).agg({'number_of_order':['mean']})

              number_of_order
                         mean
department_id
1                   14.800024
2                   17.091743
3                   17.913544
4                   17.893092
5                   15.214270
6                   15.382135
7                   17.694027
8                   16.458105
9                   15.957363
10                  20.091818
11                  16.482026
12                  15.615061
13                  16.484023
14                  17.524632
15                  15.691875
16                  18.014071
17                  16.150593
18                  19.602850
19                  17.631340
20                  17.138607
21                  21.956893

### Aggregating mean of entire Dataframe (ords_prods_merge) 'number_of_order' column grouped by 'department_id'

In [12]:
ords_prods_merge.groupby(['department_id']).agg({'number_of_order':['mean']})

              number_of_order
                         mean
department_id
1                   15.457838
2                   17.277920
3                   17.170395
4                   17.811403
5                   15.215751
6                   16.439806
7                   17.225802
8                   15.340650
9                   15.895474
10                  20.197148
11                  16.170638
12                  15.887671
13                  16.583536
14                  16.773669
15                  16.165037
16                  17.665606
17                  15.694469
18                  19.310397
19                  17.177343
20                  16.473447
21                  22.902379

# Step 3
The 'means' of both the subset df_sub with just 1000000 rows and that of the entire dataframe ords_prods_merge of over 32 million rows have little differences in values but strikingly close with the latter having slightly higher values. With these results, using the subset to rank these departments will yield the same results as using the entire dataframe.


### Creating a new column max_order

In [14]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['number_of_order'].transform(np.max)

C:\Users\terry\AppData\Local\Temp\ipykernel_12232\506111299.py:1: FutureWarning: The provided callable <function max at 0x000001EA6E3C8680> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['number_of_order'].transform(np.max)

In [15]:
ords_prods_merge.head(20)

,order_id,user_id,number_of_order,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders,10
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Slowest days,Average orders,10
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,both,Slowest days,Average orders,10
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,both,Slowest days,Average orders,10
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,Slowest days,Average orders,10
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,Slowest days,Average orders,10
10,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,both,Slowest days,Average orders,10
11,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Slowest days,Most orders,10
12,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Slowest days,Most orders,10
13,473747,1,3,3,12,21.0,10258,3,1,Pistachios,117,19,3.0,both,Slowest days,Most orders,10
14,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,21,16,8.6,both,Slowest days,Most orders,10
15,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,88,13,3.2,both,Slowest days,Most orders,10
16,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Slowest days,Average orders,10
17,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Slowest days,Average orders,10
18,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,117,19,3.0,both,Slowest days,Average orders,10
19,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,21,16,8.6,both,Slowest days,Average orders,10

# Step 4
### Assigning loyalty flag

In [17]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'loyal customer'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
# Checking loyalty flag counts
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [22]:
# Checking loyalty flag with selected columns
ords_prods_merge[['user_id', 'number_of_order', 'max_order', 'loyalty_flag']].head(30)

    user_id  number_of_order  max_order  loyalty_flag
0         1                1         10  New customer
1         1                1         10  New customer
2         1                1         10  New customer
3         1                1         10  New customer
4         1                1         10  New customer
5         1                2         10  New customer
6         1                2         10  New customer
7         1                2         10  New customer
8         1                2         10  New customer
9         1                2         10  New customer
10        1                2         10  New customer
11        1                3         10  New customer
12        1                3         10  New customer
13        1                3         10  New customer
14        1                3         10  New customer
15        1                3         10  New customer
16        1                4         10  New customer
17        1                4         10  New customer
18        1                4         10  New customer
19        1                4         10  New customer
20        1                4         10  New customer
21        1                5         10  New customer
22        1                5         10  New customer
23        1                5         10  New customer
24        1                5         10  New customer
25        1                5         10  New customer
26        1                5         10  New customer
27        1                5         10  New customer
28        1                5         10  New customer
29        1                6         10  New customer

# Step 5

In [25]:
# Determining the 'min', 'max' and 'mean' values of each loyal flag
ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
New customer      7.801077  1.0  25.0
Regular customer  7.798145  1.0  25.0
loyal customer    7.773487  1.0  25.0

Simply looking at the values one could doubt the results because new customer has a higher average price than the loyal customer with both having the same min and max prices. It should however be noted that, despite loyal customer having a slightly lower average than both the regular and new customers, it has more orders(40 and above) making its price average to drop within the min and max range of 1.0 to 25.0.

# Step 6

In [26]:
# Creating column for average spender
ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\terry\AppData\Local\Temp\ipykernel_12232\2579547553.py:2: FutureWarning: The provided callable <function mean at 0x000001EA6E3C9080> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [28]:
# Creating flag for low and high spender
ords_prods_merge.loc[ords_prods_merge['average_spend'] < 10, 'spender_flag'] = 'Low spender'

In [29]:
ords_prods_merge.loc[ords_prods_merge['average_spend'] > 10, 'spender_flag'] = 'High spender'

In [30]:
# Checking spender flag counts
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low spender     32285150
High spender      119328
NaN                  381
Name: count, dtype: int64

In [43]:
# Checking average_spend and spender_flag columns 
pd.options.display.max_rows = None

In [45]:
ords_prods_merge[['user_id', 'prices', 'average_spend', 'spender_flag']].head(60)

    user_id  prices  average_spend spender_flag
0         1     9.0       6.367797  Low spender
1         1    12.5       6.367797  Low spender
2         1     4.4       6.367797  Low spender
3         1     4.7       6.367797  Low spender
4         1     1.0       6.367797  Low spender
5         1     9.0       6.367797  Low spender
6         1     3.0       6.367797  Low spender
7         1     4.4       6.367797  Low spender
8         1    10.3       6.367797  Low spender
9         1     4.7       6.367797  Low spender
10        1     4.0       6.367797  Low spender
11        1     9.0       6.367797  Low spender
12        1     4.4       6.367797  Low spender
13        1     3.0       6.367797  Low spender
14        1     8.6       6.367797  Low spender
15        1     3.2       6.367797  Low spender
16        1     9.0       6.367797  Low spender
17        1     4.4       6.367797  Low spender
18        1     3.0       6.367797  Low spender
19        1     8.6       6.367797  Low spender
20        1     1.0       6.367797  Low spender
21        1     9.0       6.367797  Low spender
22        1     4.4       6.367797  Low spender
23        1     3.0       6.367797  Low spender
24        1     8.6       6.367797  Low spender
25        1     2.7       6.367797  Low spender
26        1    14.0       6.367797  Low spender
27        1     5.0       6.367797  Low spender
28        1    10.3       6.367797  Low spender
29        1     9.0       6.367797  Low spender
30        1     4.4       6.367797  Low spender
31        1     3.0       6.367797  Low spender
32        1     8.6       6.367797  Low spender
33        1     9.0       6.367797  Low spender
34        1     3.0       6.367797  Low spender
35        1     4.4       6.367797  Low spender
36        1     8.6       6.367797  Low spender
37        1     4.0       6.367797  Low spender
38        1     4.4       6.367797  Low spender
39        1     9.0       6.367797  Low spender
40        1     3.0       6.367797  Low spender
41        1     8.6       6.367797  Low spender
42        1    13.4       6.367797  Low spender
43        1     1.8       6.367797  Low spender
44        1     1.8       6.367797  Low spender
45        1    13.4       6.367797  Low spender
46        1     8.6       6.367797  Low spender
47        1     9.0       6.367797  Low spender
48        1     3.0       6.367797  Low spender
49        1     4.4       6.367797  Low spender
50        1     9.0       6.367797  Low spender
51        1    13.4       6.367797  Low spender
52        1     6.8       6.367797  Low spender
53        1    12.6       6.367797  Low spender
54        1     8.6       6.367797  Low spender
55        1     3.0       6.367797  Low spender
56        1     1.3       6.367797  Low spender
57        1     4.0       6.367797  Low spender
58        1     4.4       6.367797  Low spender
59        2     5.2       7.515897  Low spender

# Step 7

In [47]:
# Creating a frequent-users column
ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\terry\AppData\Local\Temp\ipykernel_12232\160437111.py:2: FutureWarning: The provided callable <function median at 0x000001EA6E5A3CE0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [49]:
# Creating a flag on order frequency
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] > 20, 'frequency_flag'] = 'Non frequent customer'

In [51]:
ords_prods_merge.loc[(ords_prods_merge['Customer_frequency'] > 10) & (ords_prods_merge['Customer_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'

In [52]:
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [54]:
# Checking frequency flags counts
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [57]:
# Checking newly created customer frequency and frequency_flag colunms
ords_prods_merge[['user_id', 'days_since_prior_order', 'Customer_frequency', 'frequency_flag']].head(100)

    user_id  days_since_prior_order  Customer_frequency         frequency_flag
0         1                     NaN                20.5  Non frequent customer
1         1                     NaN                20.5  Non frequent customer
2         1                     NaN                20.5  Non frequent customer
3         1                     NaN                20.5  Non frequent customer
4         1                     NaN                20.5  Non frequent customer
5         1                    15.0                20.5  Non frequent customer
6         1                    15.0                20.5  Non frequent customer
7         1                    15.0                20.5  Non frequent customer
8         1                    15.0                20.5  Non frequent customer
9         1                    15.0                20.5  Non frequent customer
10        1                    15.0                20.5  Non frequent customer
11        1                    21.0                20.5  Non frequent customer
12        1                    21.0                20.5  Non frequent customer
13        1                    21.0                20.5  Non frequent customer
14        1                    21.0                20.5  Non frequent customer
15        1                    21.0                20.5  Non frequent customer
16        1                    29.0                20.5  Non frequent customer
17        1                    29.0                20.5  Non frequent customer
18        1                    29.0                20.5  Non frequent customer
19        1                    29.0                20.5  Non frequent customer
20        1                    29.0                20.5  Non frequent customer
21        1                    28.0                20.5  Non frequent customer
22        1                    28.0                20.5  Non frequent customer
23        1                    28.0                20.5  Non frequent customer
24        1                    28.0                20.5  Non frequent customer
25        1                    28.0                20.5  Non frequent customer
26        1                    28.0                20.5  Non frequent customer
27        1                    28.0                20.5  Non frequent customer
28        1                    28.0                20.5  Non frequent customer
29        1                    19.0                20.5  Non frequent customer
30        1                    19.0                20.5  Non frequent customer
31        1                    19.0                20.5  Non frequent customer
32        1                    19.0                20.5  Non frequent customer
33        1                    20.0                20.5  Non frequent customer
34        1                    20.0                20.5  Non frequent customer
35        1                    20.0                20.5  Non frequent customer
36        1                    20.0                20.5  Non frequent customer
37        1                    20.0                20.5  Non frequent customer
38        1                    14.0                20.5  Non frequent customer
39        1                    14.0                20.5  Non frequent customer
40        1                    14.0                20.5  Non frequent customer
41        1                    14.0                20.5  Non frequent customer
42        1                    14.0                20.5  Non frequent customer
43        1                    14.0                20.5  Non frequent customer
44        1                     0.0                20.5  Non frequent customer
45        1                     0.0                20.5  Non frequent customer
46        1                     0.0                20.5  Non frequent customer
47        1                     0.0                20.5  Non frequent customer
48        1                     0.0                20.5  Non frequent customer
49        1                     0.0                20.5  Non frequent customer
50        1                    30.0                20.5  Non frequent customer
51        1                    30.0                20.5  Non frequent customer
52        1                    30.0                20.5  Non frequent customer
53        1                    30.0                20.5  Non frequent customer
54        1                    30.0                20.5  Non frequent customer
55        1                    30.0                20.5  Non frequent customer
56        1                    30.0                20.5  Non frequent customer
57        1                    30.0                20.5  Non frequent customer
58        1                    30.0                20.5  Non frequent customer
59        2                     NaN                13.0       Regular customer
60        2                     NaN                13.0       Regular customer
61        2                     NaN                13.0       Regular customer
62        2                     NaN                13.0       Regular customer
63        2                     NaN                13.0       Regular customer
64        2                     NaN                13.0       Regular customer
65        2                     NaN                13.0       Regular customer
66        2                     NaN                13.0       Regular customer
67        2                     NaN                13.0       Regular customer
68        2                     NaN                13.0       Regular customer
69        2                     NaN                13.0       Regular customer
70        2                     NaN                13.0       Regular customer
71        2                     NaN                13.0       Regular customer
72        2                    10.0                13.0       Regular customer
73        2                    10.0                13.0       Regular customer
74        2                    10.0                13.0       Regular customer
75        2                    10.0                13.0       Regular customer
76        2                    10.0                13.0       Regular customer
77        2                    10.0                13.0       Regular customer
78        2                     3.0                13.0       Regular customer
79        2                     3.0                13.0       Regular customer
80        2                     3.0                13.0       Regular customer
81        2                     3.0                13.0       Regular customer
82        2                     3.0                13.0       Regular customer
83        2                     8.0                13.0       Regular customer
84        2                     8.0                13.0       Regular customer
85        2                     8.0                13.0       Regular customer
86        2                     8.0                13.0       Regular customer
87        2                     8.0                13.0       Regular customer
88        2                     8.0                13.0       Regular customer
89        2                     8.0                13.0       Regular customer
90        2                     8.0                13.0       Regular customer
91        2                     8.0                13.0       Regular customer
92        2                     8.0                13.0       Regular customer
93        2                     8.0                13.0       Regular customer
94        2                     8.0                13.0       Regular customer
95        2                     8.0                13.0       Regular customer
96        2                     8.0                13.0       Regular customer
97        2                     8.0                13.0       Regular customer
98        2                     8.0                13.0       Regular customer
99        2                     8.0                13.0       Regular customer

In [58]:
# Checking entire Dataframe with new columns
ords_prods_merge.head(20)

,order_id,user_id,number_of_order,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,match,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spender_flag,Customer_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,12.5,both,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,4.4,both,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,4.7,both,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,1.0,both,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
5,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,...,3.0,both,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,...,4.4,both,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,...,10.3,both,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,...,4.7,both,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
10,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,...,4.0,both,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
11,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
12,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,...,4.4,both,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
13,473747,1,3,3,12,21.0,10258,3,1,Pistachios,...,3.0,both,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
14,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,...,8.6,both,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
15,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,...,3.2,both,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
16,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
17,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,...,4.4,both,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
18,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,...,3.0,both,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer
19,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,...,8.6,both,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non frequent customer

# Step 8
### Exporting new Dataframe

In [59]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merged.pkl'))